.git
.gitignore
.DS_Store
.idea
.vscode

**/node_modules
**/dist
**/*.tsbuildinfo

.env
.env.*
output
tmp
.session_tmps
.session_tmps/**

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
coverage
.nyc_output
